{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 class="text-center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <div class="shadow-sm p-1 mb-2 bg-body rounded">
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
</div>
  {% endfor %}
</ul>
<div class="shadow p-3 mb-5 bg-body rounded">
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div class="text-center">
    <button type="submit" class="btn btn-secondary">Add Note</button>
  </div>
</form>
</div>
{% endblock %}
